@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-dotted {
    background-image: radial-gradient(
      circle at 2px 2px,
      #232323 1px,
      /* transparent 0 */ black 0
    );
    background-size: 2.5px 2.5px;
  }

  .card {
    @apply border border-white/80  px-4 py-2;

    border-width: 1px;
  }

  .loader {
    height: 24px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background: linear-gradient(
        45deg,
        transparent 49%,
        #fff 50%,
        #fff 50%,
        transparent 51%,
        transparent
      ),
      linear-gradient(
        -45deg,
        transparent 49%,
        #fff 50%,
        #fff 50%,
        transparent 51%,
        transparent
      );
    font-size: 15px;
    background-size: 1em 1em;
    box-sizing: border-box;
    animation: barStripe 0.6s linear infinite;
  }

  @keyframes barStripe {
    0% {
      background-position: 1em 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
